<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>The Abhikarma Kid's - Students</title>
		<link rel="shortcut icon" href="/img/logo.jpg">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/plugins/feather/feather.css">
		<link rel="stylesheet" href="/plugins/icons/flags/flags.css">
		<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="main-wrapper">
			<div class="header">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="/img/logo.jpg" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="/img/logo.jpg" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="nav user-menu">
              
                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="/img/profiles/avatar-01.jpg" width="31"
                                alt="Soeng Souy">
                            <div class="user-text">
                                <h6 th:text="${loadUserByUsername.fullname}">Soeng Souy</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/img/profiles/avatar-01.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6 th:text="${loadUserByUsername.fullname}">Soeng Souy</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" th:href="@{/index}">My Profile</a>
                        <a class="dropdown-item" th:href="@{/index}">Edit Profile</a>
                        <span sec:authorize="isAuthenticated"><a class="dropdown-item" th:href="@{/logout}">Logout</a></span>
                    </div>
                </li>

            </ul>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="submenu active">
                            <a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/index}">Admin Dashboard</a></li>
                               <!-- <li><a th:href="@{/teacher-dashboard}">Teacher Dashboard</a></li>
                                <li><a th:href="@{/student-dashboard}">Student Dashboard</a></li>-->
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Students</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/studentlist}">Student List</a></li>
                                <li><a th:href="@{/studentlist}">Student View</a></li>
                                <li><a th:href="@{/addStudent}">Student Add</a></li>
                                <li><a th:href="@{/studentlist}" class="active">Student Edit</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/teacherlist}">Teacher List</a></li>
                                <li><a th:href="@{/teacherlist}">Teacher View</a></li>
                                <li><a th:href="@{/add-teacher}">Teacher Add</a></li>
                                <li><a th:href="@{/teacherlist}">Teacher Edit</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/departmentslist}">Department List</a></li>
                                <li><a th:href="@{/add-departments}">Department Add</a></li>
                                <li><a th:href="@{/departmentslist}">Department Edit</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/subjectslist}">Subject List</a></li>
                                <li><a th:href="@{/add-subject}">Subject Add</a></li>
                                <li><a th:href="@{/subjectslist}">Subject Edit</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Management</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a th:href="@{/fees-collections}">Fees Collection</a></li>
                                <li><a th:href="@{/expenses}">Expenses</a></li>
                                <li><a th:href="@{/salary}">Salary</a></li>
                                <li><a th:href="@{/addFees}">Add Fees</a></li>
                                <li><a th:href="@{/addExpenses}">Add Expenses</a></li>
                                <li><a th:href="@{/addSalary}">Add Salary</a></li>
                            </ul>
                        </li>
                         <li>
                            <a th:href="@{/Holidays/HolidayDetails}"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                        </li>
                        <li>
                            <a th:href="@{/Exam/examDetails}"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
                        </li>
                       <!-- <li>
                            <a th:href="@{/Events/addEvent}"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
                        </li>-->
                        <li>
                            <a th:href="@{/Times/TimeTableDetails}"><i class="fas fa-table"></i> <span>Time Table</span></a>
                        </li>
                        <li>
                            <a th:href="@{/Books/libraryDetails}"><i class="fas fa-book"></i> <span>Library</span></a>
                        </li>
                        
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="forgot-password.html">Forgot Password</a></li>
                                <li><a href="error-404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/Sports/SportDetails}"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
                        </li>
                        
                         <li>
                            <a th:href="@{/Hostel/RoomDetails}"><i class="fas fa-hotel"></i><span>Hostel</span></a>
                        </li>
        
                        <li>
                            <a th:href="@{/Transport/TransportDetails}"><i class="fas fa-bus"></i> <span>Transport</span></a>
                        </li>
                           
                    </ul>
                </div>
            </div>
        </div>
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col-sm-12">
						<div class="page-sub-header">
							<h3 class="page-title">Edit Students</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="students.html">Student</a></li>
								<li class="breadcrumb-item active">Edit Students</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card comman-shadow">
						<div class="card-body">
						
							<form th:action="@{/updateStudent}" th:object="${student}" method="POST" enctype="multipart/form-data">
							<input hidden="hidden" th:field="*{id}">
								
								<div class="row">
									<div class="col-12">
										<h5 class="form-title student-info">Student Information <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
									</div>
									
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Admission Session<span class="login-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{admissionSession}" placeholder="Admission Session">
										</div>
									</div>
									
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>First Name <span class="login-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{firstName}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Last Name <span class="login-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{lastName}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Gender <span class="login-danger">*</span></label>
											<select class="form-control select" th:field="*{gender}" >
												<option th:value="Select-Gender" th:text="Select-Gender">Select Gender</option>
												<option th:value="Female">Female</option>
												<option th:value="Male">Male</option>
												<option th:value="Other">Others</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms calendar-icon">
											<label>Date Of Birth <span class="login-danger">*</span></label>
											<input class="form-control datetimepicker" type="text" th:field="*{dateOfBirth}" placeholder="DD-MM-YYYY">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Roll </label>
											<input class="form-control" type="text"  th:field="*{rollNumber}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Blood Group <span class="login-danger">*</span></label>
											<select class="form-control select" th:field="*{bloodGroup}">
												<option th:value="Please-Select-Group" th:text="Please-Select-Group">Please Select Group </option>
												<option value="B+">B+</option>
												<option value="A+">A+</option>
												<option value="O+">O+</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Religion <span class="login-danger">*</span></label>
											<select class="form-control select" th:field="*{religion}">
												<option th:value="Please-Select-Religion" th:text="Please-Select-Religion">Please Select Religion </option>
												<option value="Hindu">Hindu</option>
												<option value="Muslim">Muslim</option>
												<option value="Christian">Christian</option>
												<option value="Others">Others</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>E-Mail <span class="login-danger">*</span></label>
											<input class="form-control" type="text" th:field="*{email}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Class <span class="login-danger">*</span></label>
											<select class="form-control select" th:field="*{className}">
												<option th:value="Please-Select-Class" th:text="Please-Select-Class">Please Select Class </option>
												<option value="L.K.G.">L.K.G.</option>
												<option value="U.K.G.">U.K.G.</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Section <span class="login-danger">*</span></label>
											<select class="form-control select" th:field="*{section}">
												<option th:value="Please-Select-Section" th:text="Please-Select-Section">Please Select Section </option>
												<option value="B">B</option>
												<option value="A">A</option>
												<option value="C">C</option>
											</select>
										</div>
									</div>
									 <div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Admission ID </label>
											<input class="form-control" type="text" th:field="*{admissionId}" readonly="readonly">
										</div>
									</div> 
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label>Phone </label>
											<input class="form-control" type="text" th:field="*{studentMobileNumber}">
										</div>
									</div>
									
									 <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Parent Mobile Number </label>
                                            <input class="form-control" type="number" th:field="*{parentMobileNumber}" placeholder="Enter Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Father Name <span class="login-danger">*</span></label>
                                            <input class="form-control"  type="text" th:field="*{fatherName}" placeholder="Enter Father Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Mother Name <span class="login-danger">*</span></label>
                                            <input class="form-control"  type="text" th:field="*{motherName}" placeholder="Enter Mother Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group local-forms">
                                            <label>Address </label>
                                            <input class="form-control" type="text" th:field="*{address}" placeholder="Enter Your Address ">
                                        </div>
                                    </div>
									
									<div class="col-12 col-sm-4">
									<div class="form-group students-up-files">
											<div class="uplod">
												<input type="file" name="studentImage" accept="image/jpeg, image/png, image/jpg, image/gif, image/pdf" id="studentImage"/>
												
												<!-- <label class="file-upload image-upbtn mb-0">Choose File</label> -->
												<img th:src="@{${'/studentimages/' + student.imageName}}" style="height:100px; width:150px">
											</div>
											<input type="hidden" name="imgName" th:value="${student.imageName}">
										</div>
									</div>
										
										<div class="col-12">
											<div class="student-submit">
												<button type="submit" class="btn btn-primary">Submit</button>
											</div>
										</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/select2/js/select2.min.js"></script>
<script src="/plugins/moment/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>